@{
    ViewBag.Title = "About";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" type="text/css" media="all" />

<div class="row1">
    <ul>REAL TIME PERSON IDENTIFICATION AND LOCATION DETECTION</ul>
</div>
<div class="g">
    <ul><li><a href="../Home/About">ABOUT</a></li></ul>
    <ul><li><a href=".../Home/Contact">Contact</a></li></ul>
    <div class="bot">
        <ul> <li><a href="Index">Back Home</a></li></ul>
    </div>
</div>

<h2>@ViewBag.Title.</h2>
<br />
<div class="bond">
<h2>HUMAN SEARCH AND LOCATION IDENTIFICATION</h2>
<p>     A final year project presented by </p><br />
<p>     1. Gyanendra Shreshtha (069/BEX/312)</p><br />
<p>     2. Sanjaya Raut (069/BEX/332)</p><br />
<p>     3. Saroj Paudel (069/BEX/333)</p><br />
<p>     4. Sudin GC     (069/BEX/342)</p><br />

<br />
<br />
<p>     


As the necessity of higher levels of security rises, technology is bound to swell to fulfill these needs. Any new creation, enterprise, or development should be uncomplicated and acceptable for end users in order to spread worldwide. This strong demand for user-friendly systems which can secure our assets and protect our privacy without losing our identity in a sea of numbers, grabbed the attention and studies of scientists toward what’s called biometrics.
Biometrics is an emerging area of bioengineering; it is the automated method of recognizing person based on a physiological or behavioral characteristics. There exist several biometric systems as signature, voice, iris, retina, finger print and face. Among these systems, facial recognition appears to be one of the most universal, collectable and accessible systems.
Biometric face recognition also known as Automated Face Recognition (AFR), is a particularly attractive biometric approach, since it focuses on the same identifier that humans use primarily to distinguish one person from another: their faces. One of its main goal is the understanding of the complex human visual system and the knowledge of how humans represent faces in order to discriminate different identities with high accuracy.
The face recognition problem can be divided into two main stages: face detection and face recognition. Detection stage is the first stage; it includes identifying and locating a face in an image. The recognition stage is the second stage; it includes feature extraction, where important information for discrimination is saved, and the matching, where recognition result is given with the aid of a face database.

As one of the most successful applications of image analysis and understanding, face recognition has recently gained significant attention. Over the last ten years or so, it has become a popular area of research in computer vision and one of the most successful applications of image analysis and understanding.
Among various biometric approaches, face recognition may not be the most reliable and efficient but it has several advantages over the others:  it is natural, easy to use and does not require aid from the test subject.
Problems:
Illumination problem	Pose problem	Scale variability
</p>
</div>