@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" type="text/css" media="all" />

<div class="row1">
    <ul>REAL TIME PERSON IDENTIFICATION AND LOCATION DETECTION</ul>
</div>
<div class="g">
    <ul><li><a href="../Home/About">ABOUT</a></li></ul>
    <ul><li><a href=".../Home/Contact">Contact</a></li></ul>
    <div class="bot">
        <ul> <li><a href="Index">Back Home</a></li></ul>
    </div>
</div>
<h2>@ViewBag.Title</h2>

