
@{
    ViewBag.Title = "Success";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" type="text/css" media="all" />

<div class="imagebox">
    <img src="~/images/1.jpg" />
</div>
<div class="imagename">
    Sudin
</div>
<



