
@{
    ViewBag.Title = "SANJAYA";
}

<h2>RTPILDS Engine</h2>
<p style="left:150px;font-size:30px;top:100px">
    Do you want to search Sanjaya Raut?
    <br />
    Find his location and know where he is.
</p>
<div class="imagebox" style="background-image:url(../images/2.jpg)">

</div>
<div class="imagename">
    @Html.ActionLink("Search", "App2", "Links")
</div>

